<table class="highlight gray white-text centered ">
	<tbody>
		<td class="center">
			<%= stamp.sign_in.strftime "%B %e at %l:%M %p" unless stamp.sign_in.nil? %>
		</td>
		<td>
			<span class='sign_out<%=stamp.id%>'>
				<%= stamp.sign_out.strftime "%B %e at %l:%M %p" unless stamp.sign_out.nil?%>
			</span>
		</td>
		<% if stamp.sign_out.nil? %>
			<td class="center" id="update_sign_out<%=stamp.id%>">
				<%= link_to 'Update now', sign_out_path(id: stamp.id), class: ' waves-effect waves-light btn-small blue darken-2', remote: true %>
			</td>
		<% end %>
	</tbody>
</table>
