<h1>Stamps#new</h1>
<p>Find me in app/views/stamps/new.html.erb</p>


<!-- <%= form_for @stamp , url: attendee_stamps_path() do |f| %>
<%= f.label "Sign_in" %>
<%= f.datetime_select :sign_in %>
<%= f.label "Sign_out" %>
<%= f.datetime_select :sign_out %>
<%= f.submit %>
<% end %> -->
