
<div class="attendee_card" id="attendee<%=attendee.id%>">
	<div class="row" >
	    <div class="col s12 m10">
	      <div class="card z-depth-2">
			<div class="card-image">
				  <%= link_to (image_tag  "https://cdn.intra.42.fr/users/medium_#{ attendee.login }.jpg", size: '256'), attendee  %>
	 	  	</div>
	        <div class="card-content white-text">
	          <span class="card-title"><%= attendee.name %></span>
	          <!-- <%= link_to (image_tag  "https://cdn.intra.42.fr/users/medium_#{ attendee.login }.jpg", width: '64', class: "circle responsive-img"), attendee  %> -->
			  <%=link_to (attendee.login), attendee, class: "center" %>
			  <% @time = Stamp.where(:attendee_id => attendee.id).last %>
			  <% if @time %>
			  <div class="stamps right">
			 	<p>Sign in: <%= @time.sign_in.strftime "%B %e at %l:%M %p" unless @time.sign_in.nil? %> </p>
				<p>Sign out: <%= @time.sign_out.strftime "%B %e at %l:%M %p" unless @time.sign_out.nil? %> </p>
				 </div>
			  <% else %>
			  <div class="right">
			  	<p>Sign in: <%= " No time logged yet" %> </p>
				<p>Sign out: <%=" No time logged yet" %> </p>
			  </div>
			  <% end %>
			</div>
	        <div class="card-action">
				<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal_attendee<%=attendee.id%>">Edit</a> -->
	         <button class="btn modal-trigger blue darken-2" data-target="modal_attendee<%=attendee.id%>" data-toggle="modal" >Edit</button>
	          <%= link_to 'Destroy', attendee, method: :delete,  remote: true, class: 'waves-effect waves-light btn red darken-2'%>
	        </div>
	      </div>
	    </div>
	  </div>

	<%= form_for(attendee, :method => :put, remote: true) do |form| %>
		<div class="modal" id="modal_attendee<%=attendee.id%>" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
				Edit Attendee
				</div>
				<% if attendee.errors.any? %>
			   <div id="error_explanation">
				 <h2><%= pluralize(attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

				 <ul>
				 <% attendee.errors.full_messages.each do |message| %>
				   <li><%= message %></li>
				 <% end %>
				 </ul>
			   </div>
			 <% end %>
				<div class="modal-body">
					<div class="input-field">
						<%= form.text_field :name %>
						<%= form.label :name, class: :active%>
					</div>

					<div class="input-field">
						<%= form.text_field :login %>
						<%= form.label :login, class: 'active' %>
					</div>
				</div>
				<div class="modal-footer">
					<div class="waves-effect waves-light btn blue darken-2 modal-close" onClick="history.go(0)">
						<%= form.submit "Update Attendee", class: "white-text" %>
					</div>
				</div>
			</div>
		</div>

	<% end %>
	</div>
</div>
