<!-- Modal Structure -->
<div id="modal1" class="modal modal-index white-text transparent">
	<div class="modal-content">
		<div class="modal-header">
			Add New Attendee
		</div>
		<%= form_for(@attendee , remote: true, validates: true) do |form| %>
			<% if @attendee.errors.any? %>
			<div class="white-text" id="error_explanation">
				<h2>
					<%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:
				</h2>
				<ul>
					<% @attendee.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div class="form">
				<div id="field-add-new">
					<% if @attendee.errors.any? %>
					The Form contain <%= pluralize(@attendee.errors.count, "error") %>
					  <% @attendee.errors.full_messages.each do |msg| %>
					  <li> <%= msg %> </li>
					  <% end%>
					<% end %>
				</div>
				<div class="input-field white-text">
					<%= form.text_field :login, class: 'attendee_login white-text', autocomplete: "off" %>
					<%= form.label :login, class: 'active' %>
					<br>
				</div>
			</div>
		<div class="right">
			<div class="btn waves-effect waves-light  blue darken-2" >
				<%= form.submit "Add Attendee", class: " white-text" %>
			</div>
		</div>
		<% end %>
		<br>
	</div>
</div>
