<div class="flex-attendee-remain-add">
	<div class="flex-remain-add">
		<div class="add-new-button center">
			<a class="modal-trigger" href="#modal1">
				<i class="medium material-icons add-new-button-color">
					person_add
				</i>
			</a>
		</div>
		<div class="white-text remain ">
			<div class="center">IN <div class="logged-as-nickname"><%=@remain%></div> </div>
				<div class="center">
					<div class="person">
						<i class="small material-icons">
							person
						 </i>
					</div>
				</div>
			<div class="center">OUT <div class="logged-as-nickname"><%=@all_attendees%></div>  </div>
		</div>
	</div>
	<div class="flex-attendee" id="container_attendees">
		<%= render @attendees %>
	</div>
</div>
<div class="row center">
	<%= paginate @attendees %>
</div>
<div class="">
	<%= render 'attendees/modal' %>
</div>
