<p id="notice"><%= notice %></p>


<a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Attendee</a>
<!-- Modal Trigger -->
<!-- <button data-target="#modal1" data-toggle='modal' class="btn modal-trigger">NEW NEW</button> -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
	  <%= form_for(@attendee , remote: true) do |form| %>
	  <% if @attendee.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

		  <ul>
		  <% @attendee.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="input-field">
		<%= form.text_field :name, class: 'attendee_name'  %>
	   <%= form.label :name, class: :active%>
	  </div>

	  <div class="input-field">
		<%= form.text_field :login, class: 'attendee_login' %>
	   <%= form.label :login, class: 'active' %>
	  </div>

	 <div class="waves-effect waves-light btn purple darken-4">
		<%= form.submit "Add/Update Attendee", class: "modal-close  white-text" %>
	  </div>
	<% end %>

  </div>
</div>




<h1>Attendees</h1>

<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Login</th>
      <th>Name</th>
      <th>Location</th>
      <th>Last in</th>
      <th>Last out</th>
      <th>User</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody id="attendee">


	<% @attendees.each do |attendee| %>
	<div class="container" id="<%=attendee.id%>">
	      <tr class="attendee<%=attendee.id%>">
  	        <td><%= link_to (image_tag  "https://cdn.intra.42.fr/users/medium_#{ attendee.login }.jpg", width: '64', class: "circle responsive-img"), attendee  %></td>
  	        <td><%=link_to (attendee.login), attendee %></td>
  	        <td><%= attendee.name %></td>

  	        <td>




  	           </td>
  	        <% @time = Stamp.where(:attendee_id => attendee.id).last %>
  	        <% if @time %>
  	          <td><%= @time.sign_in.strftime "%B %e at %l:%M %p" unless @time.sign_in.nil? %></td>
  	          <td><%= @time.sign_out.strftime "%B %e at %l:%M %p" unless @time.sign_out.nil? %></td>
  	        <% else %>
  	          <td></td>
  	          <td></td>
  	        <% end %>
  	        <td><%= attendee.user.nickname %></td>
  	        <td><%= link_to 'Show', attendee %></td>
		
		<!-- <td>	<button data-target="#edit_modal" data-toggle='modal' class="btn modal-trigger">Edit</button></td> -->
			<td><button data-target="attendee<%=attendee.id%>" data-toggle='modal' class="btn modal-trigger">Edit</button> </td>
  	        <!-- <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td> -->
  	        <td ><%= link_to 'Destroy', attendee, method: :delete,  remote: true, class: 'waves-effect waves-light btn red'%></td>
  	      </tr>

	    <% end %>
</div>

  </tbody>
</table>
