<%if notice %>
	<div class=" white-text successfully-sign-in green" id="notice">
		<%= notice %>
		<div class="index-sign-in">
			<% if queenru(current_user.nickname) %>
				<%= image_tag "sign_in.gif"  unless notice.nil?%>
			<% end %>
		</div>
	</div>
<% end %>
<div class="row ">
	<div class="col s1 m3 ">
		<div class=" col s1 m6 search-bar white-text">
			<%= form_with url: search_path, local: true, method: :get  do |form| %>
				<%= form.text_field :q, placeholder: "Search for attendees", data: { behavior: "autocomplete" }, class: "white-text "%>
			<% end %>
		</div>
	</div>
</div>
<div class="right">
	<a class=" add-new-button modal-trigger" href="#modal1">
		<i class="medium material-icons">person_add</i>
	</a>
	<div class=" white-text remain">
		<h5>
			<div class="sign_in-sign_out">IN <p class="center"><%=@remain%></p> </div>
			<div class="center sign_in-sign_out">
					<i class="material-icons person"> person </i>
			</div>
			<div class="sign_in-sign_out">OUT <p class="center"><%=@all_attendees%></p> </div>
		</h5>
	</div>
</div>
<div id="container_attendees">
	<%= render @attendees %>
</div>
<div class=" paginate-index">
	<%= paginate @attendees %>
</div>
<div class="center">
	<%= render 'attendees/modal' %>
</div>
