<div class="">
<div class=" white-text" id="notice">
	<%= notice %>
	<div class="index-sign-in">
		<% if current_user.nickname == "rliu" %>
		<%= image_tag "sign_in.gif"  unless notice.nil?%>
		<% end %>
	</div>
</div>
<div class="thankyou">
		<% if current_user.nickname == "rliu" %>
	<%= image_tag "thankyou.gif" %>
		<% end %>
</div>
<div class="row ">
	<div class="col s1 m3 ">
		<div class=" col s1 m6 search-bar white-text">
			<%= form_with url: search_path, local: true, method: :get  do |form| %>
				<%= form.text_field :q, placeholder: "Search for attendees", data: { behavior: "autocomplete" }, class: "white-text "%>
			<% end %>
		</div>
	</div>
</div>
<div class="right">
	<a class=" btn-floating btn-large black pulse add-new-button modal-trigger" href="#modal1">
		<i class="medium material-icons">person_add</i>
	</a>
	<div class=" right white-text remain">
		<h5>
			<div class="center">
				<div>Checked-in:  <%=@remain%></div>
				<div>Checked-out:  <%=@all_attendees%></div>
			</div>
		</h5>
	</div>
</div>
<div class=" truncate1" id="container_attendees">
	<%= render @attendees %>
</div>
<div class="center  paginate-index" onclick="location.reload(false)">
	<%= paginate @attendees %>
</div>
<div class="center">
	<%= render 'attendees/modal' %>
</div>


</div>
