<div class=" white-text" id="notice">
	<%= notice %>
</div>
<div class="row container">
	<div class="col s1 m3 ">
		<div class=" col s1 m6 search-bar white-text">
			<%= form_with url: search_path, local: true, method: :get  do |form| %>
				<%= form.text_field :q, placeholder: "Search for attendees", data: { behavior: "autocomplete" }, class: "white-text "%>
			<% end %>
		</div>
	</div>
</div>
<div class="right">
	<a class=" add-new-button modal-trigger" href="#modal1">
		<i class="medium material-icons">person_add</i>
	</a>
</div>
<div class=" white-text remain">
	<h5>
		<div class="sign_in-sign_out">Sign in  <p class="center"><%=@remain%></p> </div>
		<div class="center sign_in-sign_out">
				<i class="material-icons person"> person </i>
		</div>
		<div class="sign_in-sign_out">Sign out <p class="center"><%=@all_attendees%></p> </div>
	</h5>
</div>

	<div class=" block-attendees-pages truncate1" id="container_attendees">
		<%= render @attendees %>
	</div>
	<div class="center" onclick="location.reload(false)">
		<%= paginate @attendees %>
	</div>

<%= render 'attendees/modal' %>
