<p id="notice"><%= notice %></p>


<a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Attendee</a>
<!-- Modal Trigger -->
<!-- <button data-target="#modal1" data-toggle='modal' class="btn modal-trigger">NEW NEW</button> -->

<h1>Attendees</h1>


<div class="container_attendees">
	<%= render @attendees %>
</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
	  <%= form_for(@attendee , remote: true) do |form| %>
	  <% if @attendee.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

		  <ul>
		  <% @attendee.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="input-field">
		<%= form.text_field :name, class: 'attendee_name'  %>
	   <%= form.label :name, class: :active%>
	  </div>

	  <div class="input-field">
		<%= form.text_field :login, class: 'attendee_login' %>
	   <%= form.label :login, class: 'active' %>
	  </div>

	 <div class="waves-effect waves-light btn purple darken-4">
		<%= form.submit "Add/Update Attendee", class: "modal-close  white-text" %>
	  </div>
	<% end %>

  </div>
</div>
