<div class=" white-text" id="notice">
	<%= notice %>
</div>
<div class="row">
	<div class="col s12">

			<div class="">
				<div class="input-field col s10 search-bar  white search-button-bar ">
					<%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
						<%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2  "%>
				</div>
				<div class= " search-button-bar  ">
					<%= form.button "search", class: " btn purple lighten-2 material-icons search-button" %>
				</div>
			</div>


			<% end %>

	</div>
</div>

<div class="search-add-button">
	<a class=" add-new-button large material-icons modal-trigger" href="#modal1">
		add_circle
	</a>
</div>
<div class="paginate">
	<div class="center block-attendees-pages" id="container_attendees">
		<%= render @attendees %>
	</div>
	<div class="paginate center container block-attendees-pages ">
		<%= paginate @attendees %>
	</div>
</div>
<div class="">
	<%= render 'attendees/modal' %>
</div>
