<div class=" white-text" id="notice">
	<%= notice %>
</div>
<div class="row">
	<div class="col s12 ">
		<div class=" col m5 search-bar white-text">
			<%= form_with url: search_path, local: true, method: :get  do |form| %>
				<%= form.text_field :q, placeholder: "Search for attendees", data: { behavior: "autocomplete" }, class: "white-text"%>
			<% end %>
		</div>
		<div class="search-add-button ">
			<a class=" add-new-button large material-icons modal-trigger" href="#modal1">
				person_add
			</a>
		</div>
	</div>
</div>
<div class=" white-text remain center">
	<h5>
		<i class="material-icons person"> person </i>
		<p>Sign in <%= @remain%> </p>
		<p>Sign out <%= @all_attendees %></p>
	</h5>
</div>
<div class="">
	<div class="center block-attendees-pages" id="container_attendees">
		<%= render @attendees %>
	</div>
	<div class="center  ">
		<%= paginate @attendees %>
	</div>
</div>
<div class="center ">
	<%= render 'attendees/modal' %>
</div>
