<div class="center truncate1" id="container_attendees">
	<%= render @attendees %>
</div>
<br>
<div class="paginate center">
<%= paginate @attendees %>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			Add New Attendee
		</div>
		<%= form_for(@attendee , remote: true) do |form| %>
			<% if @attendee.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:
				</h2>
				<ul>
					<% @attendee.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
		<div class="modal-body">
			<div class="input-field">
				<%= form.text_field :name, class: 'attendee_name'  %>
				<%= form.label :name, class: :active%>
			</div>
			<div class="input-field">
				<%= form.text_field :login, class: 'attendee_login' %>
				<%= form.label :login, class: 'active' %>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn waves-effect waves-light  blue darken-2 modal-close" >
				<%= form.submit "Add Attendee", class: " white-text" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
