<div class="faces-profile">
	<%= image_tag "faces.gif" %>
</div>

<div class="container_info  white-text">
	<div class="picture-index-profile left img-profile">
		<%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ @attendee.login }.jpg", class: 'picture-index-profile'%>
	</div>
	<div class="container">
		<div class="block_info_text profile_name">
			<div class="info_profile" >
				<%= @user_quest["displayname"] %> </div> <div class="info_profile"> <%= @attendee.login %>
			</div>
		</div>
		<div class="info z-depth-3 center">
			<div class="stats-attendee center">
				<div class="info_profile left">
					<span class="title">
						Grade
					</span>
					<div class="center">
						<%= @user_quest["cursus_users"][0]["grade"] %>
					</div>
				</div>
				<div class="info_profile center">
					<span class="title">
						Level
					</span>
					<div class="center">
						<%= @user_quest["cursus_users"][0]["level"].truncate(4) %>
					</div>
				</div>
				<div class="info_profile right">
					<span class="title">
						Correction points
					</span>
					<div class="center">
						<%= @user_quest["correction_point"] %>
					</div>
				</div>
			</div>
			<div class="location-profile center block_info_text ">
				<div class=" block_info_text ">
					<%= get_pos(@attendee.login) %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <br> -->
<div class=" z-depth-3 time-stamps " >
	<div class="card-title-time card-title white-text">
		<table class=" white-text ">
			<thead>
				<tr>
					<th class="center f i" id="sign_in_title" >
						Sign in
					</th>
					<th class="center f" >
						Sign out
					</th>
					<th colspan="3"></th>
				</tr>
			</thead>
		</table>
	</div>
	<span class="time<%=@attendee.id%> " >
		<% if !@stamps.present? || @stamps.first.sign_out.present? %>
			<i class="small material-icons"><%= link_to 'add_circle', sign_in_path(attendee_id: @attendee.id), class: ' add-timestamp-button', remote: true %></i>
		<% end %>
	</span>
	<% if !@stamps.present? %>
		<p class="white-text center no-time-logged">
			<%= " No time logged Yet" %>
		</p>
	<% end %>
	<div class="sign_in<%= @attendee.id %> truncate">
		<%= render @stamps %>
	</div>
</div>
<div class="center paginate-profile" onclick="location.reload(false)">
	<%= paginate @stamps %>
</div>
