<p id="notice"><%= notice %></p>
<!-- <%= @user_quest["projects_users"][-1] %> -->
<p>
  <strong>Mentor:</strong>
  <%= @current_user.user.email %>
</p>

<strong>Attendee</strong>
<p>

    <%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ @current_user.login }.jpg"%>
</p>

<p>
  <strong>Name:</strong>
    <%= @current_user.name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @current_user.login %>
</p>
<p>
  <strong>Location:</strong>
  <%= @user_quest["location"] %>
</p>
<p>
  <strong>Grade:</strong>
  <%= @user_quest["cursus_users"][0]["grade"] %>
</p>
<p>
  <strong>Level:</strong>
  <%= @user_quest["cursus_users"][0]["level"] %>
</p>
<p>
  <strong>Correction point:</strong>
  <%= @user_quest["correction_point"] %>
</p>
<p>
  <strong>Last Project:</strong>
  <%= @user_quest["projects_users"][-1]['project']['name'] %>
</p>
<p>
  <strong>Time:</strong>
  <% @current_user.stamps.each do |t| %>
  <p> <strong>Sign_in:</strong> <%= t.sign_in.strftime "%B %e at %l:%M %p" unless t.sign_in.nil?  %>
    <strong>Sign_out: </strong><%= t.sign_out.strftime "%B %e at %l:%M %p" unless t.sign_out.nil? %>
<%= link_to 'Update Sign_out', sign_out_path(id: t.id), id: 'sign_out', remote: true%>
  </p>

  <% end %>
</p>

<%= link_to 'Add TimeStamp', sign_in_path(attendee_id: @attendee.id), class: "btn btn-outline-primary" %>




<%= link_to 'Edit', edit_attendee_path(@current_user) %> |
<%= link_to 'Back', attendees_path %>
