<!-- <p class="notice"><%= notice %></p> -->
<div class="container_info  white-text">
	<!-- <img class="picture-index" src= "<%= @user_quest["image_url"] %>"  alt=""> -->
	<div class=" container picture-index ">
		<!-- <img class="picture-index " src="https://cdn.intra.42.fr/users/medium_<%=@attendee.login%>.jpg" alt="" > -->
		<%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ @attendee.login }.jpg", class: 'picture-index'%>
	</div>

	<div class="container  left">
		<h5 ><strong><%= @user_quest["displayname"] %> </strong> </h5>

		<h5><strong><%= @attendee.login %> </strong> </h5>
		<!-- <br>
		<br> -->
		  <h3 class="right"><strong> <%= get_pos(@attendee.login) %></strong></h3>
		<!-- <p><strong>Location: </strong><%= @user_quest["location"] %> </p> -->
	</div>

	<div class="container center">
	<h5> <strong>Grade: </strong> <%= @user_quest["cursus_users"][0]["grade"] %>  </h5>
	<br>
		<h5> <strong>Level:</strong> <%= @user_quest["cursus_users"][0]["level"] %> </h5>
<br>
 		<h5> <strong>Correction points: </strong> <%= @user_quest["correction_point"] %> </h5>
  <!-- <strong>Last Project: </strong>
  <%= @user_quest["projects_users"][-1]['project']['name'] %>
  </p> -->
	</div>
</div>

<br>

<div class="" id="link" >
<%= link_to 'Add TimeStamp', sign_in_path(attendee_id: @attendee.id), class: 'waves-effect waves-light btn blue darken-2', remote: true %>

<%= link_to 'Back', attendees_path, class: 'waves-effect waves-light btn blue darken-2', onClick: "history.go(0)" %>
</div>

	<div class="card z-depth-2 " >
		<div class="card-title-time card-title white-text">

			<table class=" white-text centered">
				<thead>
					<tr>
						<div class="right">
							<th class="center">Sign in</th>
						</div>
						<div class="center">
							<th >Sign out</th>
						</div>
						<th colspan="4"></th>
					</tr>
				</thead>

			</table>

		</div>
		<div class="card-content love time-stamps" id="sign_in">
		<table class="highlight  white-text centered">
			<!-- <thead> -->
				<!-- <tr>
					<th>Sign in</th>
					<th>Sign out</th>
					<th colspan="3"></th>
				</tr> -->

			<!-- </thead> -->
		<% @attendee.stamps.order("created_at DESC").each do |t| %>

		<tbody >
			<!-- <div > -->
				<td> <%= t.sign_in.strftime "%B %e at %l:%M %p" unless t.sign_in.nil? %> </td>
				<td><span id='sign_out<%=t.id %>'> <%= t.sign_out.strftime "%B %e at %l:%M %p" unless t.sign_out.nil? %></td>
				<td><%= link_to 'Update Sign out', sign_out_path(id: t.id), class: 'waves-effect waves-light btn blue darken-2', remote: true %></td>
		</tbody>
		<!-- </div> -->
		<% end %>

	</table>
	</div>

</div>

<br>




<br>
