<div class="container_info  white-text">
	<div class="picture-index-profile left img-profile">
		<%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ @attendee.login }.jpg", class: 'picture-index-profile'%>
	</div>
	<div class="container">
		<div class="block_info_text profile_name">
			<div class="info_profile" >
				<%= @user_quest["displayname"] %> </div> <div class="info_profile"> <%= @attendee.login %>
			</div>
		</div>
		<div class="info z-depth-3 center">
			<div class="stats-attendee center">
				<div class="info_profile left">
					<span class="title">
						Grade
					</span>
					<div class="center">
						<%= @user_quest["cursus_users"][0]["grade"] %>
					</div>
				</div>
				<div class="info_profile center">
					<span class="title">
						Level
					</span>
					<div class="center">
						<%= @user_quest["cursus_users"][0]["level"].truncate(4) %>
					</div>
				</div>
				<div class="info_profile right">
					<span class="title">
						Correction points
					</span>
					<div class="center">
						<%= @user_quest["correction_point"] %>
					</div>
				</div>
			</div>
		</div>
		<div class="location center block_info_text">
			<div class=" block_info_text">
				<%= get_pos(@attendee.login) %>
			</div>
		</div>
	</div>
</div>
<br>
<div class="card z-depth-3 time-stamps " >
	<div class="card-title-time card-title white-text">
			<table class=" white-text ">
				<thead class="">
					<tr>
						<th class="center" id="sign_in_title" >
							Sign in
						</th>
						<th class="center" >
							Sign out
						</th>
						<th colspan="14"></th>
					</tr>
				</thead>
			</table>
	</div>
	<div class="card-content time-stamps" >
		<th>
			<span id="time<%=@attendee.id%>" >
				<% if !@stamps.present? || @stamps.first.sign_out.present? %>
					<%= link_to 'add_circle', sign_in_path(attendee_id: @attendee.id), class: 'large material-icons add-timestamp-button', remote: true %>
				<% end %>
			</span>
		</th>
		<p class="white-text center no-time-logged"><% if !@stamps.present? %> <%= " No time logged Yet" %> <% end %></p>

		<div class="sign_in<%= @attendee.id %> truncate block-attendees-pages">
			<%= render @stamps %>
		</div>
	</div>
	<div class="center" onclick="location.reload(false)">
		<%= paginate @stamps %>
	</div>
</div>
