<!-- <p class="notice"><%= notice %></p> -->

<div class="container_info  white-text">
	<%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ @attendee.login }.jpg", size: '512', class: 'responsive-img', style: 'border-radius: 100%'%>
	<div class="container center left">
		<h5><strong><%= @user_quest["first_name"] %> <%= @user_quest["last_name"]%> </strong> </h5>

		<h5><strong><%= @attendee.login %> </strong> </h5>
		  <h3 class="right"><strong> <%= get_pos(@attendee.login) %></strong></h3>
		<!-- <p><strong>Location: </strong><%= @user_quest["location"] %> </p> -->
	</div>

	<div class="container center">
	<h5> <strong>Grade: </strong> <%= @user_quest["cursus_users"][0]["grade"] %>  </h5>

		<h5> <strong>Level:</strong> <%= @user_quest["cursus_users"][0]["level"] %> </h5>

 		<h5> <strong>Correction points: </strong> <%= @user_quest["correction_point"] %> </h5>
  <!-- <strong>Last Project: </strong>
  <%= @user_quest["projects_users"][-1]['project']['name'] %>
  </p> -->
	</div>
</div>

<p >

	<div class="card-image z-depth-2 white"  id="sign_in" >
		<div class="card-content">
		<table class="time-stamps highlight white centered">
			<thead>
				<tr>
					<th>Sign in</th>
					<th>Sign out</th>
					<th colspan="3"></th>
				</tr>

			</thead>
		<% @attendee.stamps.each do |t| %>

		<tbody>
			<div >
				<td> <%= t.sign_in.strftime "%B %e at %l:%M %p" unless t.sign_in.nil? %> </td>
				<td><span id='sign_out<%=t.id %>'> <%= t.sign_out.strftime "%B %e at %l:%M %p" unless t.sign_out.nil? %></td>
				<td><%= link_to 'Update Sign_out', sign_out_path(id: t.id), class: 'waves-effect waves-light btn blue darken-2', remote: true %></td>
		</tbody>
		</div>
		<% end %>
	</table>
	</div>
</div>

</p>

<div id="link" onClick="history.go(0)">
	<%= link_to 'Add TimeStamp', sign_in_path(attendee_id: @attendee.id), class: 'waves-effect waves-light btn blue darken-2', remote: true %>
	<%= link_to 'Back', attendees_path, class: 'waves-effect waves-light btn blue darken-2' %>

</div>
<br>
