<!DOCTYPE html>
<html>
  <head>
    <title>Ru</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->

<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->


	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
	<body>
		<% if action_name == "index" || action_name== 'show' %>
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
		  <a href="/" class="brand-logo nav-block" onClick="history.go(0)">42 Hack High School </a>


        <ul class="right hide-on-med-and-down">
			<li> <% if action_name == "index" %>
		   <a class="newwaves-effect waves-light btn modal-trigger purple lighten-2 nav-block" href="#modal1">New Attendee</a>
		  <% end %></li>
			<a class='dropdown-trigger btn blue darken-3 nav-block' href='#' data-target='dropdown1'>Logged as <%=current_user.nickname %></a>

<!-- Dropdown Structure -->
	<ul id='dropdown1' class='dropdown-content'>
   		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	</ul>
      </div>

    </nav>
	<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"> -->

  </div>
  <% end %>
  <!-- <% if notice%>
  <div class="notice left">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice%>
  </div>
  <% end %> -->
	  <!-- <p class="notice white-text"></p> -->
	   <!-- <div class="alert">
      <p class="white-text"><%= alert%> </p>
  </div> -->
  <!-- <% if alert %>
  <div class="alert left">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= alert%>
  </div>
  <% end %> -->
  <br>
  <main>
	  <div class="container">
		  <%= yield %>
	  </div>
  </main>

	<% if action_name == "index" || action_name== 'show' %>
		<footer class="page-footer white-text">
	          <!-- <div class="container"> -->
	            <!-- <div class="row"> -->
	              <!-- <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li<a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div> -->
	            <!-- </div> -->
	          <!-- </div> -->
	          <div class="footer-copyright">
	            <div class="container">
	            © 2018 Copyright 42 Silicon Valley
	            <a class="grey-text text-lighten-4 right" href="https://www.42.us.org/">42 SiliconValley</a>
	            </div>
	          </div>
	        </footer>
			<% end %>
	</body>
</html>
