<!DOCTYPE html>
<html>
  <head>
    <title>Ru</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <p class="notice"><%= notice%> </p>
    <p class="alert"><%= alert%> </p> -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">


	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
	<body>
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
		  <div class="container">

        <a href="/" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <!-- <li><a href="sass.html">Sass</a></li> -->
		   <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> >Sign out</li>
		  <% else %>
		  <li><%- if devise_mapping.omniauthable? %>
		    <%- resource_class.omniauth_providers.each do |provider| %>
		      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)%>
		    <% end -%>
		  <% end -%>
	  	</li>
		  <% end %>
			 </div>
        </ul>
      </div>
    </nav>
  </div>
  <main>
	  <div class="container">
		  <%= yield %>
	  </div>
  </main>


		<footer class="page-footer">
	          <!-- <div class="container"> -->
	            <!-- <div class="row"> -->
	              <!-- <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li<a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div> -->
	            <!-- </div> -->
	          <!-- </div> -->
	          <div class="footer-copyright">
	            <div class="container">
	            © 2018 Copyright 42 Silicon Valley
	            <a class="grey-text text-lighten-4 right" href="https://www.42.us.org/">42 SiliconValley</a>
	            </div>
	          </div>
	        </footer>
	</body>
</html>
