<!DOCTYPE html>
<html>
	<head>
		<link href="https://profile.intra.42.fr/assets/42_logo_black-684989d43d629b3c0ff6fd7e1157ee04db9bb7a73fba8ec4e01543d650a1c607.png" rel="icon" type="image/svg">
		<title>
			H2S In-N-Out
		</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	</head>
	<body>
		<% if action_name == "index" || action_name== 'show' || action_name== 'search'%>
			<div class="flex-wrapper-nav">
				<div class="logo-menu">
					<div class="menu">
						<a href="#" data-target="slide-out" class="sidenav-trigger" >
							<i class="medium material-icons">
								menu
							</i>
						</a>
					</div>
					<div class="brand-logo">
						<a href="/">
							<%= image_tag "42-logo.svg", alt:"42", height:"42px" %>
						</a>
					</div>
				</div>
				<div class="bar">
					<div class="search-bar white-text ">
						<%= form_with url: search_path, local: true, method: :get  do |form| %>
							<%= form.text_field :q, placeholder: "Search for attendees by name or login", data: { behavior: "autocomplete" }, class: "white-text d"%>
						<% end %>
					</div>
				</div>
				<% if current_user %>
					<div class='white-text logged-as'>
						<span class="logged-as-picture">
							<% if queenru(current_user.nickname) %>
								<span><%= image_tag 'login-display.gif' , width: 64%></span>
							<% end %>
						</span>
						Logged as &nbsp;
						<span class="logged-as-nickname">
							<%= current_user.nickname unless current_user.nil? %>
						</span>
					</div>
				<% end %>
			</div>
			<div class="row center successfully-sign-in">
				<%if notice %>
					<div class="white-text green" id="notice">
						<%= notice %>
						<div class="index-sign-in">
							<% if queenru(current_user.nickname) %>
								<%= image_tag "sign_in.gif"  unless notice.nil?%>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<ul id="slide-out" class="sidenav">
				<li>
					<div class="user-view">
						<%= image_tag  "https://cdn.intra.42.fr/users/medium_#{ current_user.nickname }.jpg", class: 'picture-index-menu'%>
						<span class="black-text name"><%= current_user.nickname %></span>
						<span class="black-text email"><%= current_user.email %></span>
					</div>
				</li>
				<li>
					<div class="divider"></div>
				</li>
				<li>
				<a class="subheader">42 Student Resources</a></li>
				<li><a class="waves-effect" href=https://cantina.42.us.org/users/sign_in><i class="material-icons" >fastfood</i>Cantina</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >calendar_today</i>Calendar-comingsoon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >supervised_user_circle</i>Mentor Bios and Schedules-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >check_circle_outline</i>Register For Future Camps</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >code</i>Project Showcase-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >favorite_border</i>Mentor and Peer Shoutout-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >bug_report</i>Report Bugs-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >feedback</i>Issues, Concerns, Requests-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >assessment</i>Data Report-coming soon</a></li>
				<li><a class="waves-effect" href="#!"><i class="material-icons" >info</i>Contact Us-coming soon</a></li>
				<li class="sign-out-button center">
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "white-text" %>
				</li>
				<% if queenru(current_user.nickname) %>
					<span class="center"><%= image_tag 'wow.gif'%></span>
				<% end %>
			</ul>
		<% end %>
		<main>
			<div class="container">
				<%= yield %>
			</div>
		</main>

	</body>
</html>
