<!DOCTYPE html>
<html>
	<head>
		<title>
			Ru
		</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<% if action_name == "index" || action_name== 'show' %>
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
						<a href="/" class="brand-logo nav-block">
							42 Hack High School
						</a>
						<ul class="right hide-on-med-and-down">
							<li>
								<% if action_name == "index" %>
									<!-- <div class="row">
										<div class="col s12">
											<div class="row">
												<div class="input-field col s12">
													<i class="material-icons prefix">textsms</i>
													<input type="text" id="autocomplete-input" class="autocomplete">
													<label for="autocomplete-input">Autocomplete</label>
												</div>
											</div>
										</div>
									</div> -->
									<a class="newwaves-effect waves-light btn modal-trigger purple lighten-2 nav-block" href="#modal1">
										New Attendee
									</a>
								<% end %>
							</li>
							<a class='dropdown-trigger btn blue darken-3 nav-block' href='#' data-target='dropdown1'>
								Logged as <%=current_user.nickname %>
							</a>
							<!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content'>
							<li>
								<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		<% end %>
	<br>
	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<% if action_name == "index" || action_name== 'show' %>
		<footer class="page-footer white-text">
			<div class="footer-copyright">
				<div class="container">
					© 2018 Copyright 42 Silicon Valley
					<a class="grey-text text-lighten-4 right" href="https://www.42.us.org/">
						42 SiliconValley
					</a>
				</div>
			</div>
		</footer>
	<% end %>
	</body>
</html>
