<!DOCTYPE html>
<html>
	<head>
		<title>
			Ru
		</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<span>
			<!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			<a href="/" class="brand-logo nav-block" >
				<img src="/assets/42-logo" alt="42" height="50px">
			</a>
			<div class="right aves-effect waves-light btn blue darken-3">
				Logged as <%= current_user.nickname %><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			</div>

		</span>

		<% if action_name == "index" || action_name== 'show' || action_name== 'search'%>
			<ul id="slide-out" class="sidenav">
				<li>
					<div class="user-view">
						<div class="background">
							<img src="/assets/42-logo" alt="42" height="25px">
						</div>
						<a href="#user"><img class="circle" src="https://cdn.intra.42.fr/users/medium_<%=current_user.nickname %>.jpg"></a>
						<a href="#name"><span class="white-text name"><%=  current_user.nickname %></span></a>
						<a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
					</div>
				</li>
				<li class="red">
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				</li>
			</ul>
		<% end %>
		<main>
			<div class="container">
				<%= yield %>
			</div>
		</main>

	</body>
</html>
